<manifest package="com.hjq.copy"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <!--拍照-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--读写-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.PERMISSIONS_STORAGE"/>

</manifest>